<!DOCTYPE HTML>
<html>
	<head>
	</head>
	<body>
		<header>
	
			<h1> Titulo de la Web</h1>
		
			<nav>
			  <ul>	
				<li>enlace 1</li>
				<li>enlace 2</li>
				<li>enlace 3</li>
				<li>enlace 4</li>
				<li>enlace 5</li>
			  </ul>
			</nav>
			
			
		</header>	
		<section>
		Contenido de la Web <br>

			<article>
				<h2> Prueba de video</h2>
				<p> insertando un video en html5</p>
				
				  <video src="http://media.w3.org/2010/05/sintel/trailer.webm" controls="controls" width=300 height=150>
					Tu navegador no soporta video html5
				  </video>

			</arricle>
			
			<aside>
				<h3> contenido tangencial </h3>
				<p> texto texto texto</p>
			</aside>
		</section>
		<footer>
			pie de pagina
		</footer>
		
	</body>

</html>



