<!DOCTYPE HTML>
<html>
	<head>
	</head>
	<body>
		<header>
	
			<h1> Titulo de la Web</h1>
		
			<nav>
			  <ul>	
				<li>enlace 1</li>
				<li>enlace 2</li>
				<li>enlace 3</li>
				<li>enlace 4</li>
				<li>enlace 5</li>
			  </ul>
			</nav>
			
			
		</header>	

		Contenido de la Web <br>

		<footer>
			pie de pagina
		</footer>
		
	</body>

</html>



