<!DOCTYPE HTML>
<html>
	<head>
	</head>
	<body>
		<header>
	
			<h1> Titulo de la Web</h1>
		
			<nav>
			  <ul>	
				<li>enlace 1</li>
				<li>enlace 2</li>
				<li>enlace 3</li>
				<li>enlace 4</li>
				<li>enlace 5</li>
			  </ul>
			</nav>
			
			
		</header>	
		<section>
		Contenido de la Web <br>

			<article>
				<h2> Titulo del articulo</h2>
				<p> Contenido</p>
			</arricle>
			
			<aside>
				<h3> contenido tangencial </h3>
				<p> texto texto texto</p>
			</aside>
		</section>
		<footer>
			pie de pagina
		</footer>
		
	</body>

</html>



